:root {
    font-size: 10px;
}
body {
    font-family: "Nunito", sans-serif;
    background-color: rgb(243, 192, 110);
    height: 100vh;
}

.publish_body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.publish_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.logout_tag {
    color: blue;
}
.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 1.6rem;
    background-color: rgb(245, 245, 245);
    border-radius: 2rem;
    height: 3rem;
    box-shadow: 0px 0.5px 1px black;
}

.profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.apply_image {
    height: 40rem;
    width: 55rem;
    object-fit: cover;
}

.apply_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.apply_button {
    color: white;
    text-decoration: none;
    border-radius: 2rem;
}
#card_body_button {
    background-color: dodgerblue;
    width: 14rem;
    height: 3rem;
    border-radius: 3rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-muted {
    width: 20rem;
    height: 5rem;
}

.nav {
    background-color: whitesmoke;
    box-shadow: 0.1px 0.1px 8px black;
    font-size: 1.6rem;
}
.publish_title {
    font-size: 2, 1rem;
}

.nav-item {
    color: black;
}

a {
    color: black;
}

.row {
    margin: 1rem;
}
.container_cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
}
.col {
    background-color: #ffffff;
    /* opacity: 70%; */
    height: 30rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0.5px 0.5px 2px black;
    /* padding: 0.5rem; */
    font-size: 1.6rem;
    max-width: 500px;
}
.image {
    width: 100%;
    object-fit: cover;
    padding: 0;
    height: 50%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0px 0.5px 2px grey;
}
.box_text {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.btn-primary {
    width: 12rem;
    margin: 1rem;
}

h3 {
    font-size: 2.3rem;
}

.padding {
    padding: 3rem !important;
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f29263),
        to(#ee5a6f)
    );
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}

h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
    .publish_container {
        width: 40%;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.container {
    display: -webkit-flex;
    display: flex;
    height: 100%;
}

#logbox {
    padding: 10px;
    margin: 50px auto;
    width: 340px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

h1 {
    text-align: center;
    font-size: 175%;
    color: #757575;
    font-weight: 300;
}

h1,
input {
    font-family: "Open Sans", Helvetica, sans-serif;
}

.input {
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
}
.input:focus {
    outline: none;
    border-bottom-color: #3cc !important;
}
.input:hover {
    border-bottom-color: #dcdcdc;
}
.input:invalid {
    box-shadow: none;
}

.register_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.register_title {
    font-size: 3rem;
}

.inputButton {
    position: relative;
    width: 85%;
    height: 50px;
    display: block;
    margin: 30px auto 30px;
    color: white;
    background-color: #3cc;
    border: none;
    -webkit-box-shadow: 0 5px 0 #2cadad;
    -moz-box-shadow: 0 5px 0 #2cadad;
    box-shadow: 0 5px 0 #2cadad;
}
.inputButton:hover {
    top: 2px;
    -webkit-box-shadow: 0 3px 0 #2cadad;
    -moz-box-shadow: 0 3px 0 #2cadad;
    box-shadow: 0 3px 0 #2cadad;
}
.inputButton:active {
    top: 5px;
    box-shadow: none;
}
.inputButton:focus {
    outline: none;
}

@media screen and (min-width: 600px) {
    .container_cards {
        grid-template-columns: 1fr 1fr;
    }
    .publish_container {
        width: 40%;
    }
}
@media screen and (min-width: 1000px) {
    .container_cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .col-md-12 {
        width: 100%;
    }
    .publish_container {
        width: 40%;
    }
}
